body {
    font-family: Arial, sans-serif;
    background-color: #fca311;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin-top: 50px;
  }
  
  h1 {
    color: #333;
  }
  
  .search {
    margin: 20px;
  }
  
  #city {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #search-btn {
    padding: 10px 20px;
    border: none;
    background-color: #14213d;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #search-btn:hover {
    background-color: #0056b3;
  }
  
  #weather-info {
    margin-top: 20px;
    font-size: 18px;
  }
  